
Reset CSS
{
  padding: 0px;
  margin: 0px;
}


body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

p {
  font-size: 25px;
}

:focus-visible {
  outline: none;
  border: none;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.copyright p {
  font-size: 16px;
}

.titlebar {
  position: relative;
}

.titlebar h1 {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#indextext {
  position: absolute;
  /* top: 30px; */
  left: 50%;
  transform: translate(-50%, 0);
}

.titlebar button {
  width: 100px;
}

a {
  text-decoration: none;
  color: rgb(121, 121, 121);
  font-family: 'Montserrat', sans-serif;
}

.center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  width: 100%;
}

.indexcentre button {
  width: 200px;
}

button {
  padding: 15px;
  border: none;
  color: rgb(121, 121, 121);
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
  border-radius:1em;
  
}

.weeditem1 { 
  grid-area: header; 
}
.weeditem2 { 
  grid-area: image;
}
.weeditem3 { 
  grid-area: inputs;
}

#weedimage {
  position: relative;
  width: 400px;
  height: 266px;
  top: 0;
}

#weedleafimage {
  position: relative;
  width: 400px;
  height: 266px;
  top: 0;
}

.weedgrid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'image inputs';
  gap: 10px;
  width: 900px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.weedindex {
  row-gap: 20px;
  transform: translate(-50%, -50%);
}

#outputheader {
  font-weight: 600;
}

input[type="text"] {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  background-color: #f7f7f7;
  border: 2px solid #e6e6e6;
  border-radius:1em;
}

.weeditem3 input {
  width: 400px;
}

.answer {
  font-size: 14px;
  margin: 0;
  text-align: left;
  left: 45px;
  width: 80%;
  position: relative;
}

.bottombar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  border-top: 2px solid #e6e6e6;
  text-align: center;
  height: 140px;
}

.grid-container {
  display: grid;
  grid-template-columns: max-content auto auto;
  grid-gap: 2px;
  width: 975px;
  margin: auto;
  height: 100%;
  position: relative;
}

.item1 * {
  position: relative;
  top: 20%;
}

#resultimage {
  opacity: 0%;
}

.item2 {
  padding-left: 15px;
}

.item2 * {
  position: relative;
  top: 20%;
}

#resultheader {
  color: rgba(0, 0, 0, 0);
  width: 350px;
  text-align: left;
  margin: 10px 0px;
  font-weight: 600;
}

.weedsresultheader {
  top: 31%;
}

#result {
  color: rgba(0, 0, 0, 0);
  width: 350px;
  text-align: left;
  font-size: 18px;
  margin: 10px 0px;
}

.item3 {
  text-align: right;
  margin: 0 25px;
}

#continuebutton {
  padding: 15px;
  border: none;
  color: rgb(121, 121, 121);
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
  border-radius: 1em;

  position: relative;
  top: 50%;
  transform: translate(0%, -60%);
}

#weedgrid {
  grid-template-columns: auto;
}

.weedcontinue input {
  width: 70% !important;
}


@media screen and (max-width: 1000px) {
  .item3 {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  .grid-container {
    width: 100%;
    grid-template-columns: auto;
  }

  #continuebutton {
    width: 100%;
  }

  #resultheader {
    font-size: 22px;
  }

  #result {
    font-size: 16px;
  }

  .item3 {
    margin: 0 25px 15px 25px;
  }

  .item2 {
    padding-left: 30px;
  }

  .item2 * {
    top: 10%;
  }

  .item1 {
    display: none;
  }

  .bottombar {
    height: 170px;
  }

  .titlebar h1 {
    top: 5px;
    right: 0;
    transform: none;
    margin: 0;
    font-size: 22px;
  }

  .weedgrid-container {
    grid-template-areas:
      'header'
      'image'
      'inputs';
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -54%);
  }

  .weedindex {
    transform: translate(-50%, -40%);
  }

  .weedindex3 {
    margin-bottom: 50px;
  }
  

  #weedimage {
    width: 250px;
    height: 166px;
  }

  #weedleafimage {
    width: 250px;
    height: 166px;
  }

  .weedbottom {
    height: 100px;
  }

  .weedoutputheader {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .center {
    /* min-width: 20%; */
    width: 90%;
  }

  #output1 {
    width: 100%;
  }

  .weeditem3 input {
    width: 100%;
    padding: 0 6px;
  }

  .weeditem1 {
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
  }

  .weeditem3 {
    width: 90%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
  }

  .answer {
    left: 22px;
  }

}
