
/*Reset CSS*/
/* {
  padding: 0px;
  margin: 0px;
}
*/

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

p {
  font-size: 25px;
}

.titlebar {
  position: relative;
}

.titlebar h1 {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titlebar button {
  padding: 15px;
  border: none;
  text-align: center;
  text-decoration: none;
  
  font-weight: 600;

  font-size: 16px;
  margin: 7px 0px 0px 7px;
  cursor: pointer;
  width: 100px;
  border-radius:1em;
}

.titlebar a {
  text-decoration: none;
  color: rgb(121, 121, 121);
  font-family: 'Montserrat', sans-serif;
}

.center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}

button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

.continue {
  position: relative;
  text-align: center;
  padding: 15px;
}

#continuebutton {
  padding: 15px;
  border: none;
  color: rgb(121, 121, 121);
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
  border-radius:1em;
}

#result {
  color: rgba(0, 0, 0, 0);

  width: 350px;
  text-align: left;
  font-size: 18px;
  margin: 10px 0px;
}

#resultheader {
  color: rgba(0, 0, 0, 0);
  width: 350px;
  text-align: left;
  margin: 10px 0px;
  font-weight: 600;
}

input[type=text] {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  background-color: #f7f7f7;
  border: 2px solid #e6e6e6;
  border-radius:1em;
}

.bottombar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #e6e6e6;
  text-align: center;
  height: 140px;
}

.solutiondiv {
  text-align: center;
  margin-top: 40px;
  width: 1000px;
  height: 100%;
  margin: auto;
}

#incorrectimage {
  width: 110px;
}

#incorrectimage img {
  opacity: 0%;
}

#outputheader {
  font-weight: 600;
}